@import "variables";

@font-face {
   font-family: "Caveat";
   src: url("../fonts/Caveat-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Caveat";
   src: url("../fonts/Caveat-Bold.ttf") format("truetype");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Italic.ttf") format("truetype");
   font-weight: 400;
   font-style: italic;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.ttf") format("truetype");
   font-weight: 700;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   font-family: $body-font;
   color: $text-color;
   background-color: $primary-bg;
   overflow-x: hidden;

   display: flex;
   flex-direction: column;
}

body.page-home,
body.page-login {
   overflow: hidden;
}

a {
   text-decoration: none;
   color: inherit;
}

ul {
   list-style: none;
}

main {
   flex-grow: 1;
}
