@import "variables";
@import "structure";
@import "components";
@import "header";
@import "footer";
@import "home";
@import "login";
@import "media-queries";
@import "browse";
@import "create";
@import "your-recipes";
@import "details";