$body-font: "Lato", sans-serif;
$brand-font: "Caveat", cursive;

$text-color: #333;
$brand-color: #3d2c21;
$footer-text-color: #393939;

$primary-bg: #fff;
$secondary-bg: #fdf6e3;
$hero-bg-overlay: rgba(242, 92, 84, 0.65);

$large-circle-bg: #ffd972;
$small-circle-bg: #fcbcb8;
$button-bg: #ffd972;

$header-height: 80px;


$input-border-color: #333;
$input-label-color: #888;